# Created by https://www.toptal.com/developers/gitignore/api/c++,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,windows

### C++ ###
# Prerequisites
*.d
*.vs
*.pdb
*.tlog
*.iobj
*.log
*.idb
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.ilk
*.hpp

# Precompiled Headers
*.gch
*.pch
*.pdb
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
*.pdb
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pdb
# Executables
*.exe
*.out
*.app
*.pdb
### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp
*.pdb
# Windows shortcuts
*.lnk
*.pdb
# End of https://www.toptal.com/developers/gitignore/api/c++,windows
